img {
}

@media (min-width: 300px) {
  .logo {
    width: 200px;
  }
}

@media (min-width: 576px) {
  .logo {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 300px;
  }
}

.search {
  border-style: solid;
  border-radius: 20px;
  max-width: 700px;
  width: 300px;
}

@media (min-width: 768px) {
  .search {
    height: 35px;
    border-radius: 30px;
    width: 350px;
    max-width: 400px;
    margin-bottom: 16px;
  }
}

@media (min-width: 300px) {
  .search {
  }
}

@media (min-width: 300px) {
  .championsc {
    width: 0px;
    max-width: 0px;
    height: 0px;
    border-width: 0px;
    border-style: none;
  }
}

@media (min-width: 768px) {
  .championsc {
    width: 200px;
    max-width: 200px;
    height: 25px;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
  }
}

@media (max-width: 576px) {
  .card {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbarchamp {
    display: none;
  }
}

@media (min-width: 768px) {
  .championsmain {
    display: block;
    overflow: visible;
  }
}

.championsmall {
}

@media (max-width: 768px) {
  .championsmall {
    display: block;
    overflow: visible;
  }
}

@media (min-width: 768px) {
  .championsmall {
    display: none;
    overflow: hidden;
  }
}

.championsmain {
}

